<div class="w-full h-full bg-slate-900" *ngIf="mapaCargado">
    <google-map #map height="100%" width="100%" [options]="options" (tilesloaded)="tilesLoadesGo()">
        <map-marker
            *ngFor="let marker of markers"
            [latitude]="marker.lat"
            [longitude]="marker.lng"
            [label]="marker.label"
            [title]="marker.title"
            [openInfoWindow]="marker.open"
            [iconUrl]="marker.iconUrl"
        >
        </map-marker>

        <ng-container *ngFor="let item of listPolylines">
            <map-polyline [path]="item.path" [options]="item.options">
            </map-polyline>
        </ng-container>

        <ng-container *ngFor="let item of listMarkers">
            <map-marker
                #marker="mapMarker"
                [position]="item.position"
                [options]="item.options"
                (mapClick)="openInfoWindow(marker,item.information)"
            >
            </map-marker>
        </ng-container>

        <ng-container *ngFor="let geocer of listGeocercas">
            <map-circle
                [center]="geocer.center"
                [radius]="geocer.radius"
                [options]="geocer.options"
            ></map-circle>
        </ng-container>
        <map-info-window ></map-info-window>
    </google-map>
</div>
