<div class="w-screen" #myboun>
    <div
        cdkDrag
        class="example-boundary"
        class="absolute z-10 top-2 left-5 bg-sky-300"
        [cdkDragBoundary]="myboun"
    >
        <app-modal-drag></app-modal-drag>
    </div>

    <mat-slide-toggle
        class="absolute bg-slate-100 rounded-lg z-10 top-0 right-0"
        [ngClass]="
            changeMap
                ? 'bg-sky-300 text-sky-900'
                : 'bg-slate-300 text-slate-900'
        "
        [ngModel]="changeMap"
        (change)="cambiarEstadoMapa()"
    >
        Cambiar mapa
    </mat-slide-toggle>
    <ng-container *ngIf="changeMap; else elseBlock">
        <app-google-mapa></app-google-mapa>
    </ng-container>
    <ng-template #elseBlock>
        <app-leaflet-map></app-leaflet-map>
    </ng-template>

</div>
